language: go

go:
  - 1.11
  - master

install: true

sudo: false

matrix:
  allow_failures:
    - go: master
  fast_finish: true

notifications:
  email: false

before_install:
  - go get -t -v ./...

before_script:
  - GO_FILES=$(find . -iname '*.go' -type f | grep -v -r ./vendor/) # All the .go files, excluding vendor/, .vendor-new/
  # For .vendor-new inclusion, GO_FILES=$(find . -iname '*.go' -type f | grep -v -r ./vendor/ ./.vendor-new/)
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover
  - go get -u golang.org/x/lint/golint
  - go get github.com/fzipp/gocyclo
  - go get github.com/nebulouslabs/go-upnp
  - go get github.com/tatsushid/go-fastping
  - go get github.com/twitchtv/twirp
  - go get golang.org/x/crypto/sha3

script:
  - test -z $(gofmt -s -l $GO_FILES) # Fail if a .go file hasn't been formatted with gofmt
  - go vet ./... # go vet is the official Go static analyzer
  - chmod +x ./test.sh && ./test.sh # Run unit tests
  - go build # Build

after_success:
  - bash <(curl -s https://codecov.io/bash)
